app/templates/navbar.html
<!-- Fixed Navigation Bar ================================================== -->
		<div role="navigation" class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">
						<img src="/assets/images/red-donor-logo.png">
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden-sm">
							<a href="/howitworks">
								<strong>How You Can</strong>
								<span>Save a life</span>
							</a>
						</li>
						<li>
							<a href="/drives/list">
								<strong>Pledge</strong>
								<span>a donation</span>
							</a>
						</li>
						<li class="dropdown hidden-xs">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<strong>Give</strong>
								<span>blood in</span>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li ng-repeat="country in country">
									<a href="/centre/{{country.country_url}}">{{country.country_name}}</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/centre/list" class="rred">&raquo; Explore All Countries</a>
								</li>
							</ul>
						</li>
						<li class="visible-xs">
							<a href="/centre/list">
								<strong>Give</strong>
								<span>blood</span>
							</a>
						</li>
						<li>
							<a href="/drive/create">
								<strong>Create</strong>
								<span>a blood drive</span>
							</a>
						</li>
						<li><a class="menubtn visible-xs" href="#">Login / Signup</a></li>
						<li>
							<a class="mbtn hidden-xs" href="/login">Log In</a>
						</li>
						<li>
							<a class="mbtn hidden-xs" href="/signup">Sign Up</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

views/templates/navbar.jade
// Fixed Navigation Bar ================================================== 
.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(src='/assets/images/red-donor-logo.png')
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        //li: a(href='/donate') Donate
        li: a(href='/aboutblood') About Blood
        li: a(href='/giveblood') Giving Blood
        li: a(href='/about') About Us
        li: a(href='http://my.reddonor.com').menubtn Login / Signup
